
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600');
body{
  background-color:#f1f1f1; 
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
  letter-spacing: .5px;
}
a {
   color:#333;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
a:hover,
a:focus {
    color:#333;
    text-decoration: none;
  
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0px;
  margin: 0px;
}
.img-responsive {
  width: 100%;
}
/* ------ main-page ------ */
.main-page{
    max-width:1000px;
    margin:0 auto;
}
.container{

}
/* ------ top-nav ------ */
.top-nav{
    padding-top:10px;
    padding-bottom:10px;
}

/* ------ main-banner ------ */
.main-banner{
    margin-bottom:20px;
}

/* ------ page ------ */
.page{
    background-color:#fff;
    padding:20px 15px;
    margin-bottom:20px;
}
.page h3{
    font-size:22px;
    margin-bottom:12px;
}
.page p{
    font-size:17px;
    font-weight:500;
}
.page .details ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom:18px;
}
.page .details ul li{
   float:left;
   padding-right:15px;
   font-size: 13px;
   font-weight: 600;
}
.page .details ul li:last-child {
  float: inherit;
}
.page h4{
    font-size:13px;
    font-weight:600;
}
/* ------ wedgets ------ */
.widgets{
    background-color:#fff;
    padding:20px 15px;
    margin-bottom:20px;
}
.widgets h3{
    padding-bottom:10px;
    font-size:20px;
    margin-bottom:15px;
    border-bottom:1px solid #eaeaea;
}
.widgets ul{
    list-style: none;
    padding-left: 0px;
}
.widgets ul li{
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.widgets h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.main-page{
    width:100%;
}

.tag {
  position: relative;
  color : white;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 1em 2em;
  margin: 0.125em 1em;
  transition: color 0.5s, background 0.5s, border 0.5s;
}

.tag:after,
.tag:before {
  content: "";
  position: absolute;
}

/*punched hole*/
.tag:after {
  height: 0.5em;
  width: 0.5em;
  left: 0;
  top: 50%;
  margin-top: -0.25em;
  border-radius: 100%;
  background-color: currentColor;
}

/*Tag's tail*/
.tag:before {
  border: 1.5em solid transparent;
  right: 100%;
  top: 0;
  bottom: 0;
  border-right-color: inherit;
}

/*Tag Color Scheme.
  Background and border color should match
*/
.tag {
  background-color: #0b6bd3;
  border-color: #0b6bd3;
  color: white;
}

.tag:hover {
  background-color: #701706;
  border-color: #701706;
  color: white;
}

/* Some unneeded body styling*/
.tag {
  font: 10px sans-serif;
}
body{
    background:#eee;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{

}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}